@page
@model AlexWoW.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}
<div class="panel panel-narrow">
    <h1>Что-то пошло не так</h1>
    <p class="lead">Произошла ошибка при обработке запроса. Попробуйте ещё раз.</p>
    <a class="btn btn-ghost" asp-page="/Index">На главную</a>
</div>
